  <div [swiper]="config" class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let item of datas" (click)="onClickOnlinenews(item.id)">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <div class="hovereffect  click-item">
            <img height="125" width="175" src="{{item.n_image}}" alt="pic" onerror="this.onerror=null;this.src='';"
            />
            <div class="overlay">
              <h2 [innerHTML]="item.n_title"></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div *ngIf="datas?.length == 0">
  <span>No Data To Display</span>
</div>
