<div>
    <div *ngIf="interestDatas">
        <div [swiper]="configHor" class="swiper-container swiper-container-h">
            <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let data of interestDatas">
                    <div [swiper]="configV" class="swiper-container swiper-container-v">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" *ngFor="let image of data.data">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="hovereffect swiper-item">
                                        <img height="125" width="175" src="{{image.n_image}}" alt="pic" onerror="this.onerror=null;this.src='';" />
                                        <div class="overlay">
                                            <div class="topic-title"><strong>{{data.i_name}}</strong></div>
                                            <h2 [innerHTML]="image.n_title"></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-scrollbar"></div>
        </div>
    </div>
    <div *ngIf="interestDatas?.length == 0">
        <span>No Data To Display</span>
    </div>
</div>